/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/

body{
  display: inline-block;
}

img{
  display: block;
  margin: 0 auto;
  height: 500px;
  width: 500px
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
